.Passbackground{
  background: #BCC9D8;
  width=100%;
  height:600px;
}

/*Desktop mode*/
@media only screen and (min-width:1076px){
.Passcontainer1{
  position: relative;
  top: 20%;
  margin-left:auto;
  margin-right:auto;
  min-height: 450px;
  height: 60%;
  width: 60%;
  border-radius: 161px;
  background: #FFC268;
}

.Passtitlu{
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 60px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Passcontainer1 .formularBar{
  margin-left:30%;
  margin-top:2%;
  font-size:20px;
  border-radius:20px;
  border-color: black solid;
  border: 10px;
  width:40%;
  height:50px;
  background: #BCC9D8;
  text-align:center;
}

.Passsubmitbtn{
  position:relative;
  margin-top:3%;
  width: 24%;
  height: 60px;
  left: 38%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
  cursor: pointer;
}
}

/*Tablet mode*/
@media only screen and (max-width: 1075px){

.Passcontainer1{
  position: relative;
  top: 20%;
  margin-left:auto;
  margin-right:auto;
  height: 60%;
  min-height: 450px;
  width: 60%;
  border-radius: 161px;
  background: #FFC268;
}

.Passtitlu{
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 60px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Passcontainer1 .formularBar{
  margin-left:30%;
  margin-top:2%;
  font-size:20px;
  border-radius:20px;
  border-color: black solid;
  border: 10px;
  width:40%;
  height:50px;
  background: #BCC9D8;
  text-align:center;
}

.Passsubmitbtn{
  position:relative;
  width: 39%;
  height: 60px;
  left: 32%;
  top:9%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
  cursor: pointer;
}
}


/*Phone mode*/
@media only screen and (max-width: 675px){

.Passcontainer1{
  position: relative;
  top: 20%;
  margin-left:auto;
  margin-right:auto;
  height: 70%;
  min-height: 350px;
  width: 80%;
  border-radius: 161px;
  background: #FFC268;
}

.Passtitlu{
  margin-left:auto;
  margin-right:auto;
  width: 40%;
  height: 60px;
  left: 0;
  top: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Passcontainer1 .formularBar{
  margin-top:2%;
  margimargin: top 5%; 
  font-size:20px;
  border-radius:20px;
  border-color: black solid;
  border: 10px;
  width:40%;
  top:15px;
  height:50px;
  background: #BCC9D8;
  text-align:center;
}

.Passsubmitbtn{
  position:relative;
  width: 35%;
  height: 60px;
  left: 32%;
  top:13%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 0;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

}