.GraphSugarBackground{
  height:1000px;
}
/*Desktop mode*/
@media only screen and (min-width:1076px){

.GraphSugarContainer{
  position:relative;
  width: 50%;
  height: 90%;
  left: 25%;
  top: 100px;
  background: #FFC268;
  border-radius: 161px;
}

.canvaSugar{
  width: 70%;
  position:relative;
  left:15%;
  top:10%;
}

.DownloadbtnSugar{
  
  width: 150px;
  height: 60px;
  margin-left:40%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.DownloadbtnSugar:hover{
  background: #6A87A8;
  color: white;
}

.Energbtn{
  margin-top:3%;
  width: 150px;
  height: 60px;
  margin-left:40%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.Energbtn:hover{
  background: #6A87A8;
  color: white;
}

.GraphBtns2{
  margin-top:30%;
}

}

/*Tablet mode*/
@media only screen and (max-width: 1075px){
.GraphSugarContainer{
  position:relative;
  width: 80%;
  height: 90%;
  left:12%;
  top: 100px;
  background: #FFC268;
  border-radius: 161px;
}

.canvaSugar{
  width: 70%;
  position:relative;
  left:15%;
  top:10%;
}

.DownloadbtnSugar{
  
  width: 150px;
  height: 60px;
  margin-left:40%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.DownloadbtnSugar:hover{
  background: #6A87A8;
  color: white;
}

.Energbtn{
  margin-top:3%;
  width: 150px;
  height: 60px;
  margin-left:40%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.Energbtn:hover{
  background: #6A87A8;
  color: white;
}

.GraphBtns2{
  margin-top:30%;
}

}

/*Phone mode*/
@media only screen and (max-width: 675px){

  .GraphSugarContainer{
  position:relative;
  width: 90%;
  height: 90%;
  left: 6%;
  top: 100px;
  background: #FFC268;
  border-radius: 161px;
}

.canvaSugar{
  width: 70%;
  position:relative;
  left:15%;
  top:10%;
}

.DownloadbtnSugar{
  
  width: 150px;
  height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.DownloadbtnSugar:hover{
  background: #6A87A8;
  color: white;
}

.Energbtn{
  margin-top:3%;
  width: 150px;
  height: 60px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.Energbtn:hover{
  background: #6A87A8;
  color: white;
}

.GraphBtns2{
  margin-top:50%;
  margin-right:19%;
}

}