.RegSubmitbtn{
  position:relative;
  left:20%;
  width: 60%;
  height: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #BCC9D8;
  border-radius:35px;
}

.RegSubmitbtn:hover{
  background: #6A87A8;
  color: white;
}

.RegAlreadyreg {
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align:center;
}

.RegContainer5{
  height:auto;
  margin-top:40px;
}

.RegDrinkPreferences{
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 100px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RegNutriscoreimg{
  margin-left:5%;
  margin-top:5%;
}

.RegNutriscoreContainer{
  font-size:20px;
  margin-left:5%;
  margin-top:7%;
}

.RegSaltimg{
  margin-left:8%;
  margin-top:5%;
}

.RegSaltContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegSugarimg{
  margin-left:8%;
  margin-top:5%;
}

.RegSugarContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegFatImg{
  margin-left:8%;
  margin-top:5%;
}

.RegFatContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegGlutenimg{
  margin-left:0%;
  margin-top:5%;
}

.RegGlutenContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegLactoseimg{
  margin-left:0%;
  margin-top:5%;
}

.RegLactoseContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegAlmondimg{
  margin-left:0%;
  margin-top:5%;
}

.RegAlmondContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegSoybeansimg{
  margin-left:0%;
  margin-top:5%;
}

.RegSoybeansContainer{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegSO2img{
  margin-left:0%;
  margin-top:5%;
}

.RegSO2Container{
  font-size:20px;
  margin-left:9%;
  margin-top:7%;
}

.RegContainer3 form{
  width:40%;
  
}


/*Desktop mode*/
@media only screen and (min-width:1076px){
.RegBackground {
  width: 100%;
  height: auto;
  left: 0px;
  top: 330px;
  background: #BCC9D8;
}
  
.RegContainer {
  position:relative;
  width: 50%;
  height: 2000px;
  margin-left:20%;
  left: 76px;
  top: 100px;
  background: #FFC268;
  border-radius: 161px;
}

.RegTitlu {
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 100px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RegContainer .formularBar{
  
  font-size:20px;
  position: relative; 
  left:3%;
  border-radius:20px;
  border-color: black solid;
  border: 10px;
  width:50%;
  height:50px;
  top:0;
  background: #BCC9D8;
  text-align:center;
}

.RegPrefs {
  position:relative;
  margin-top:0;
  margin-left:25%;
  width: 50%;
  height: 100px;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 600;
 font-size: 50px;
 line-height: 73px;
 text-align: center;

 color: #000000;

 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.RegContainer2 {
  width: 80%;
  margin-left:10%;
  margin-top: 50px;
  margin-bottom:1000px;
  background: #BCC9D8;
  border-radius: 40px;
}




.RegSignUpContainer{
  font-size:20px;
  positon:absolute;
  margin-left:30%;
  margin-top:5%;
}

.RegContainer3 {
  width: 80%;
  min-height: 500px;
  margin-left:10%;
  margin-top: 5%;
  background: #BCC9D8;
  border-radius: 40px;
}

.RegAlergeni{
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 100px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



}
/* Tablet mode */
@media only screen and (max-width:1075px){
  .RegBackground {
    width: 100%;
    height: auto;
    left: 0px;
    top: 330px;
    background: #BCC9D8;
  }
    
  .RegContainer{
    position:relative;
    width: 65%;
    height: 2000px;
    left: 20%;
    top: 100px;
    background: #FFC268;
    border-radius: 161px;
  }

  .RegTitlu {
    margin-left:auto;
    margin-right:auto;
    width: 362px;
    height: 100px;
    left: 450px;
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 97px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .RegContainer .formularBar{
    
    font-size:20px;
    position: relative; 
    left:3%;
    border-radius:20px;
    border-color: black solid;
    border: 10px;
    width:50%;
    height:50px;
    top:0;
    background: #BCC9D8;
    text-align:center;
  }
  
  .RegPrefs {
    position:relative;
    margin-top:0;
    margin-left:25%;
    width: 50%;
    height: 100px;
  
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 50px;
   line-height: 73px;
   text-align: center;
  
   color: #000000;
  
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }

  .RegContainer2 {
    width: 90%;
    margin-left:5%;
    margin-bottom:100px;
    margin-top: 50px;
    background: #BCC9D8;
    border-radius: 40px;
  
  }
  
  .RegContainer2 form{
    width:60%;
    margin-left:20%;
  }
  
  .RegSignUpContainer{
    font-size:20px;
    positon:absolute;
    margin-left:30%;
    margin-top:5%;
  }
  
  .RegContainer3 {
    width: 80%;
    min-height: 500px;
    margin-left:10%;
    margin-top: 5%;
    background: #BCC9D8;
    border-radius: 40px;
  }
  
  
  .RegAlergeni{
    margin-left:auto;
    margin-right:auto;
    width: 362px;
    height: 100px;
    left: 450px;
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 97px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

/* Phone mode */
@media only screen and (max-width:675px){
.RegBackground {
  width: 100%;
  height: auto;
  left: 0px;
  top: 330px;
  background: #BCC9D8;
}
  
  .RegContainer {
  left:50px;
  position:relative;
  width: 80%;
  height: 2100px;
  top: 100px;
  background: #FFC268;
  border-radius: 161px;
}

.RegTitlu {
  margin-left:auto;
  margin-right:auto;
  width: 362px;
  height: 100px;
  left: 450px;
  top: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 97px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.RegContainer .formularBar{
  
  font-size:20px;
  right:6%;
  position: relative; 
  border-radius:20px;
  border-color: black solid;
  border: 10px;
  width:70%;
  height:50px;
  top:15px;
  background: #BCC9D8;
  text-align:center;
}

.RegPrefs {
    position:relative;
    margin-top:0;
    margin-left:25%;
    width: 50%;
    height: 100px;
  
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 50px;
   line-height: 73px;
   text-align: center;
  
   color: #000000;
  
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }

  .RegContainer2 {
    width: 90%;
    margin-left:5%;
    margin-bottom:100px;
    margin-top: 50px;
    background: #BCC9D8;
    border-radius: 40px;
  
  }
  
  .RegContainer2 form{
    width:60%;
    margin-left:20%;
  }
  
  .RegSignUpContainer{
    font-size:20px;
    positon:absolute;
    margin-left:20%;
    margin-top:5%;
  }
  
  .RegContainer3 {
    width: 80%;
    min-height: 500px;
    margin-left:10%;
    margin-top: 5%;
    background: #BCC9D8;
    border-radius: 40px;
  }
  
  
  .RegAlergeni{
    margin-left:auto;
    margin-right:auto;
    width: 362px;
    height: 100px;
    left: 450px;
    top: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 97px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}